<section fxLayout="column" fxLayoutAlign="center center">

  <mat-dialog-content [formGroup]="resetPasswordForm" fxLayout="column" fxLayoutAlign="center center">
    
    <h2 class="section-header" mat-dialog-title>Reset Password</h2>
    
    <!-- Email -->
    <mat-form-field>
      <input formControlName="email" matInput placeholder="Your email">
      <mat-error *ngFor="let validation of RESET_PASSWORD_FORM_VALIDATION_MESSAGES.email">
        <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
  
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button
      [disabled]="resetPasswordForm.invalid"
      mat-raised-button
      color="primary"
      (click)="onSubmit()"
      >
        Submit
    </button>
    <button 
      mat-raised-button
      [mat-dialog-close]
      >
        Cancel
    </button>
  </mat-dialog-actions>

</section>