.push-request-container {
  width: 90vw;
  max-width: 600px;
  min-width: 288px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  padding: 16px;
  margin-top: 16px;
  text-align: center;
}

button {
  margin: 8px;
}