// Must import to use the custom theme classes
@import '../../../../my-theme.scss';

mat-card {
  cursor: pointer;
  width: 90vw;
  max-width: 600px;
  min-width: 288px;
  box-sizing: border-box;
}

.title-text {
  font-size: 18px;
  margin-bottom: 16px;
}

