.nav-contents {
  width: 90vw;
  max-width: 600px;
  min-width: 288px;
}

#profile-name {
  font-size: 18px;
}

.search-field {
  background-color: white;
  height: 32px;
  width: 63vw;
  max-width: 500px;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}
