
#zen_logo {
  height: 70px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 24px;
}

.intro-tagline {
  margin-bottom: 40px;
}

mat-form-field {
  width: 300px;
}

.google-button {
  width: 300px;
  color: #737373;
  font-family: 'Roboto',arial,sans-serif;
}

.google-button-icon {
  margin-right: 16px;
  margin-bottom: 4px;
}

.google-svg {
  height: 22px;
}

.email-button {
  width: 300px;
  color: #737373;
  font-family: 'Roboto',arial,sans-serif;
}

.email-button-icon {
  margin-right: 16px;
}

.submit-button {
  margin-top: 20px;
  width: 300px;
}


.no-account {
  margin-top: 30px;
}

.reset-password-button {
  border-radius: 0;
  padding: 0;
  margin-top: -4px;
  margin-bottom: 8px;
}
