<section>
  <form 
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  >
     <!-- Email -->
     <mat-form-field>
        <input formControlName="email" matInput placeholder="Your email">
        <mat-error *ngFor="let validation of LOGIN_FORM_VALIDATION_MESSAGES.email">
          <mat-error *ngIf="email.hasError(validation.type) && email.invalid && (email.dirty || email.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      
      <!-- Password -->
      <mat-form-field>
        <input formControlName="password" matInput type="password" placeholder="Your password">
        <mat-error *ngFor="let validation of LOGIN_FORM_VALIDATION_MESSAGES.password">
          <mat-error *ngIf="password.hasError(validation.type) && password.invalid && (password.dirty || password.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>

      <button 
        [disabled]="loginForm.invalid"
        class="submit-button" 
        type="submit" 
        mat-raised-button 
        color="primary">
          Submit
    </button>
  </form>
</section>