// Must import to use the custom theme classes
@import "../../../variables";

.section-header {
  color: $primary;
}

mat-dialog-content, mat-form-field, .updated-pw-group {
  width: 100%;
}

mat-form-field {
  max-width: 400px;
  min-width: 200px;
}
