<section fxLayout="column" fxLayoutAlign="center center">
  <mat-dialog-content fxLayout="column" fxLayoutAlign="center center" [formGroup]="passwordForm">
  
    <h2 class="section-header" fxFlexAlign="start" mat-dialog-title>Update Password</h2>
    <!-- Old Password -->
    <mat-form-field fxFlexAlign="center">
      <input formControlName="oldPassword" matInput type="password" placeholder="Old Password">
      <mat-error *ngFor="let validation of PASSWORD_FORM_VALIDATION_MESSAGES.oldPassword">
        <mat-error *ngIf="oldPassword.hasError(validation.type) && oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>

    <div class="updated-pw-group" formGroupName="updatedPwGroup" fxFlexAlign="center" fxLayout="column" fxLayoutAlign="center center">
      <!-- New Password -->
      <mat-form-field>
        <input formControlName="newPassword" matInput type="password" placeholder="New Password">
        <mat-error *ngFor="let validation of PASSWORD_FORM_VALIDATION_MESSAGES.newPassword">
          <mat-error *ngIf="newPassword.hasError(validation.type) && newPassword.invalid && (newPassword.dirty || newPassword.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
      
      <!-- New Password -->
      <mat-form-field>
        <input formControlName="confirmNewPassword" matInput type="password" placeholder="Confirm New Password">
        <mat-error *ngFor="let validation of PASSWORD_FORM_VALIDATION_MESSAGES.confirmNewPassword">
          <mat-error *ngIf="confirmNewPassword.hasError(validation.type) && confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>
    </div>
    <mat-error *ngFor="let validation of PASSWORD_FORM_VALIDATION_MESSAGES.updatedPwGroup">
      <mat-error *ngIf="updatedPwGroup.hasError(validation.type) && updatedPwGroup.invalid && (confirmNewPassword.touched)">{{ validation.message }}</mat-error>
    </mat-error>
    <mat-error *ngFor="let validation of PASSWORD_FORM_VALIDATION_MESSAGES.oldPwGroup">
      <mat-error *ngIf="passwordForm.hasError(validation.type) && passwordForm.invalid && (newPassword.touched)">{{ validation.message }}</mat-error>
    </mat-error>
  
  </mat-dialog-content>

  <mat-dialog-actions>
      <button
        [disabled]="passwordForm.invalid"
        mat-raised-button
        color="primary"
        (click)="onSave()"
        >
          Save
      </button>
      <button 
        mat-raised-button
        (click)="onClose()"
        >
          Cancel
      </button>
    </mat-dialog-actions>

</section>