<div class="timer-details-container">

  <app-timer-details 
    [timer]="timer$ | async"
    [loading]="isLoading$ | async"
    [error]="error$ | async"
    >
  </app-timer-details>
  <app-countdown [timer]="timer$ | async"></app-countdown>
  <div class="other-actions" fxLayout="column" fxLayoutAlign="center center">
    <button *ngIf="coundownClock" (click)="onSetReminder()" class="timer-action" mat-raised-button color="primary" [disabled]="coundownClock.total < 0">Add to Calendar</button>
    <button (click)="onCompleteTimer()" class="timer-action complete-timer" mat-stroked-button color="accent">Complete Timer</button>
    <button (click)="onDeleteTimer()" class="timer-action" mat-button color="warn">Delete Timer</button>
  </div>
</div>