<div class="nav-contents-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="nav-contents" fxLayoutAlign="space-between center">
    <button mat-icon-button [routerLink]="['/']">
      <mat-icon class="back-arrow">arrow_back</mat-icon>
    </button>
    <button mat-icon-button #matButton>
      <mat-icon (click)="onEditTimer()" class="edit-icon">edit</mat-icon>
    </button>
  </div>
</div>
<app-timer-details 
  [timer]="timer$ | async"
  [loading]="isLoading$ | async"
  [error]="error$ | async"
  >
</app-timer-details>
<app-countdown [timer]="timer$ | async"></app-countdown>
<div class="other-actions" fxLayout="column" fxLayoutAlign="center center">
  <button class="timer-action" mat-raised-button color="primary">Set Reminder</button>
  <button class="timer-action complete-timer" mat-stroked-button color="accent">Complete Timer</button>
  <button (click)="onDeleteTimer()" class="timer-action" mat-button color="warn">Delete Timer</button>
</div>