main {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 600px;
  margin: auto;
}

.my-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

