// Based on Angular Material template
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
}

@media (max-width: 599px) {
  .sidenav-container {
    top: 56px;
  }
}