<div class="master-container" fxLayout="column">
  <app-header class="app-header"></app-header>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav mode="push" [fixedInViewport]="false">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div *ngIf="!(connectionStatus$ | async)" class="offline-warning" fxLayoutAlign="center center">Device is Offline</div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>