<section fxLayout="column" fxLayoutAlign="center start">
  <h1 fxFlexAlign="center" class="mat-headline">Edit Profile</h1>
  <div fxFlexAlign="center" *ngIf="loading$ | async">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="(appUser$ | async) as user" class="profile-content">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="mat-subheading-2">
        {{ user.displayName }}
      </div>
      <button #matButton (click)="onEditName()" mat-button color="primary">
        Edit
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <div class="mat-subheading-2">
        {{ user.email }}
      </div>
      <button #matButton2 (click)="onEditEmail()" mat-button color="primary">
        Edit
      </button>
    </div>
  </div>
  <div *ngIf="(appUser$ | async) as user" class="change-image-container" fxFlexAlign="center" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <input #fileInput type="file" (change)="onChooseFile($event)" placeholder="Upload Profile Image">
      <button (click)="onUploadImage()" mat-button color="primary">Upload Image</button>
    </div>
    <div *ngIf="(imageUploadProgress$ | async) as uploadPercentage" fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="uploadPercentage < 100">Upload Progress</div>
      <mat-progress-spinner *ngIf="uploadPercentage < 100" [value]="uploadPercentage">
      </mat-progress-spinner>
    </div>
    <img class="avatar" [src]="user.avatarUrl ? user.avatarUrl : defaultProfileImage">
  </div>
</section>