// Must import to use the custom theme classes
@import "../../../variables";

section {
  padding: 16px;
  max-width: 600px;
  margin: auto;
}

.mat-headline {
  color: $primary;
}

.mat-subheading-2 {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cropper-container {
  width: 90vw;
  max-width: 600px;
  margin: auto;
}

.cropper-buttons {
  margin-top: 16px;
}

.image-loading-spinner {
  margin-top: 16px;
}