<div fxLayoutAlign="center center" *ngIf="loading$ | async">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<section 
  *ngIf="(appUser$ | async) as user"
  fxLayout="column" 
  fxLayoutAlign="center center" 
  fxLayoutGap="16px">
  
  <img [src]="user.avatarUrl ? user.avatarUrl : defaultProfileImage" class="avatar">
  <div id="username" class="mat-display-1">
    {{ user.displayName }}
  </div>
  <div id="email" class="mat-subheading-1">
    {{ user.email }}
  </div>
  <button
    [routerLink]="[ './edit']"
    class="action-button" 
    type="button" 
    mat-raised-button 
    color="primary">
      Edit Details
  </button>
  <button 
    class="action-button" 
    type="button" 
    mat-stroked-button 
    color="primary">
      Change Password
  </button>
  <button 
    class="action-button" 
    (click)="onLogout()"
    type="button" 
    mat-button 
    color="primary">
      Logout
  </button>

</section>