<div class="search-icon-container" fxLayoutAlign="end center">
  <div [style.visibility]="searchClicked ? 'visible' : 'hidden'" >
      <input id="search-field" class="search-field" matInput placeholder="Search timers" #search>
  </div>
  <button *ngIf="!searchClicked" (click)="onSearch()" mat-icon-button >
    <mat-icon class="search-icon">search</mat-icon>
  </button>
  <button *ngIf="searchClicked" (click)="onCloseSearch()" mat-icon-button >
    <mat-icon class="search-icon">close</mat-icon>
  </button>
</div>

<!-- ACTIVE TIMERS -->
<section  *ngIf="!doneList" fxLayout="column" fxLayoutAlign="center center" >
  <h1 class="mat-headline">Active Timers</h1>
  
  <div *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="!loading && timers">
    <div @todoAnimation
      *ngFor="let timer of timers | timerFilter : search?.value"
      class="card-container">
      <app-timer-card-item
        [timer]="timer"
        >
      </app-timer-card-item>
    </div>
  
    <div id="no-timers" *ngIf="timers.length < 1 && !error">No active timers found</div>
  </div>
  
  <div class="error-message" *ngIf="error">
    An error occurred while loading your timers. Try refreshing the page or logging out and back in.
  </div>
</section>

<!-- COMPLETED TIMERS -->
<section *ngIf="doneList" fxLayout="column" fxLayoutAlign="center center" >
  
  <h1 class="mat-headline">Completed Timers</h1>
  
  <div *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="!loading && timers">
    <div @todoAnimation class="card-container">
      <app-timer-card-item
        *ngFor="let timer of timers | timerFilter : search?.value" 
        [timer]="timer"
        [routerLink]="[ './', timer.id ]"
        >
      </app-timer-card-item>
    </div>
  
    <div id="no-timers" *ngIf="timers.length < 1 && !error">No completed timers found</div>
  </div>
  
  <div class="error-message" *ngIf="error">
      An error occurred while loading your timers. Try refreshing the page or logging out and back in.
  </div>
</section>