<section class="bottom-section-container" *ngIf="countDownClock" fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="countDownClock.total >= 0" fxLayout="column" fxLayoutAlign="center center">
    <div class="mat-display-2 timer-section">{{ countDownClock.weeks }} Weeks</div>
    <div class="mat-display-1 timer-section">{{ countDownClock.days }} Days</div>
    <div class="mat-headline timer-section">{{ countDownClock.hours }} Hours</div>
    <div class="mat-title timer-section">{{ countDownClock.minutes }} Minutes</div>
    <div class="mat-subheading-2 timer-section">{{ countDownClock.seconds }} Seconds</div>
  </div>
  <div *ngIf="countDownClock.total < 0" fxLayout="column" fxLayoutAlign="center center">
    <div class="mat-headline expired-countdown">
      {{ countDownClock.days * -1 }} Days Overdue!
    </div>
  </div>
</section>