// Must import to use the custom theme classes
@import "../../../variables";

.mat-display-2.timer-section {
  margin-bottom: 8px;
}
.mat-display-1.timer-section {
  margin-bottom: 8px;
}
.mat-headline.timer-section {
  margin-bottom: 8px;
}
.mat-title.timer-section {
  margin-bottom: 8px;
}
.mat-subheading-2.timer-section {
  margin-bottom: 8px;
}

.expired-countdown {
  color: $accent;
}