<section fxLayout="column" fxLayoutAlign="start center">

  <mat-dialog-content [formGroup]="timerForm">
    
    <h2 class="section-header" mat-dialog-title>Timer Details</h2>
    <!-- Title -->
    <mat-form-field>
      <input formControlName="title" matInput placeholder="Timer title">
      <mat-error *ngFor="let validation of TIMER_FORM_VALIDATION_MESSAGES.title">
        <mat-error *ngIf="title.hasError(validation.type) && title.invalid && (title.dirty || title.touched)">{{ validation.message }}</mat-error>
      </mat-error>
    </mat-form-field>
  
    <!-- Category -->
    <mat-form-field>
      <input formControlName="category" matInput placeholder="Category">
    </mat-form-field>

    <!-- Notes -->
    <mat-form-field>
      <textarea cdkTextareaAutosize formControlName="notes" matInput placeholder="Add notes"></textarea>
    </mat-form-field>
    
    <!-- Duration Section -->
    <h2 class="section-header" mat-dialog-title>Timer Duration</h2>
    <div class="duration-form-group" formGroupName="duration">

      <!-- Weeks -->
      <mat-form-field class="duration-form-field" floatLabel="always">
        <input formControlName="weeks" matInput type="weeks" placeholder="Weeks">
        <mat-error *ngFor="let validation of TIMER_FORM_VALIDATION_MESSAGES.duration">
          <mat-error *ngIf="duration.hasError(validation.type) && duration.invalid && (duration.dirty || duration.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Days -->
      <mat-form-field class="duration-form-field" floatLabel="always">
        <input formControlName="days" matInput type="days" placeholder="Days">
        <mat-error *ngFor="let validation of TIMER_FORM_VALIDATION_MESSAGES.duration">
          <mat-error *ngIf="duration.hasError(validation.type) && duration.invalid && (duration.dirty || duration.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Hours -->
      <mat-form-field class="duration-form-field" floatLabel="always">
        <input formControlName="hours" matInput type="hours" placeholder="Hours">
        <mat-error *ngFor="let validation of TIMER_FORM_VALIDATION_MESSAGES.duration">
          <mat-error *ngIf="duration.hasError(validation.type) && duration.invalid && (duration.dirty || duration.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>

      <!-- Minutes -->
      <mat-form-field class="duration-form-field" floatLabel="always">
        <input formControlName="minutes" matInput type="minutes" placeholder="Minutes">
        <mat-error *ngFor="let validation of TIMER_FORM_VALIDATION_MESSAGES.duration">
          <mat-error *ngIf="duration.hasError(validation.type) && duration.invalid && (duration.dirty || duration.touched)">{{ validation.message }}</mat-error>
        </mat-error>
      </mat-form-field>

    </div>
    <mat-error *ngFor="let validation of TIMER_FORM_VALIDATION_MESSAGES.duration">
      <mat-error *ngIf="duration.hasError(validation.type) && duration.invalid && (duration.dirty || duration.touched)">{{ validation.message }}</mat-error>
    </mat-error>
    
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button
      [disabled]="timerForm.invalid"
      mat-raised-button
      color="primary"
      (click)="onSave()"
      >
        Save
    </button>
    <button 
      mat-raised-button
      (click)="onClose()"
      >
        Cancel
    </button>
  </mat-dialog-actions>

</section>