<div fxLayout="column" fxLayoutAlign="center center">
  <div *ngIf="loading" fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
  <section class="top-section-container" fxLayout="column" fxLayoutAlign="start">
    <div *ngIf="!loading && timer">
      <div class="mat-headline top-section">{{ timer.title }}</div>
      <div class="mat-subheading-2 top-section">{{ timer.category }}</div>
      <div class="mat-caption top-section">Created {{ timer.createdDate | date }}</div>
      <div class="mat-body-1 top-section">{{ timer.notes }}</div>
    </div>
  </section>
</div>