<div *ngIf="loading" fxLayoutAlign="center center">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<section fxLayout="column" fxLayoutAlign="start">
  <div *ngIf="!loading && timer">
    <div class="mat-headline">{{ timer.title }}</div>
    <div class="mat-subheading-2">{{ timer.category }}</div>
    <div class="mat-caption">Created {{ timer.createdDate | date }}</div>
    <div class="mat-body-1 notes">{{ timer.notes }}</div>
  </div>
</section>
<section fxLayoutAlign="center center">
  <button mat-raised-button color="primary">Set Reminder</button>
</section>