
.top-section-container {
  width: 90vw;
  max-width: 600px;
  min-width: 288px;
}

.mat-headline.top-section {
  margin-bottom: 8px;
}

.mat-subheading-2.top-section {
  margin-bottom: 0px;
}

.mat-caption.top-section {
  color: rgba(0,0,0,.54);
}

button {
  width: 300px;
}
.mat-body-1.top-section {
  margin-top: 16px;
  margin-bottom: 16px;
}

