/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

// Define a custom mixin that takes in the current theme
@mixin theme-color-grabber($theme) {
  // Parse the theme and create variables for each color in the pallete
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  // Create theme specfic styles
  .primaryColor {
    color: mat-color($primary);
  }
  .accentColor {
    color: mat-color($accent);
  }
  .warnColor {
    color: mat-color($warn);
  }
  .primaryColorBG {
    background-color: mat-color($primary);
  }
  .accentColorBG {
    background-color: mat-color($accent);
  }
  .warnColorBG {
    background-color: mat-color($warn);
  }
}

html, body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

.custom-snack-bar {
  width: 100%;
  max-width: 600px !important;
  margin: auto !important;
}